<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менью</title>
    <link rel="stylesheet" href="/static/index.css">
    <script>alert("Кнопки могут быть недоступны несколько секунд.")</script>
</head>
<body>
    <div class="container">
        <div class="button-container">
            {% for item in access_list %}
            <button class="access-button {{ item.color }}">
                <a href="{{ item.link }}" class="button-link">{{ item.name }}</a>
            </button>
            {% endfor %}
        </div>
    </div>
</body>
</html>
